*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

@media (max-width: 846px) {
    .remove_border{
        border: 0px;
    }
}
@media (max-width: 493px) {
    .remove_border1{
        border: 0px;
    }
}
@media (max-width: 640px) {
    .display_flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .finish_padding{
        padding-bottom: 0px !important;
    }
    .full_width{
        width: 100% !important;
    }
    .padding_left{
        padding-left: 30px !important;
    }
}
@media (max-width: 340px) {
    .review_card{
        width: 100%;
    }
}
@media (max-width: 1168px) {
    .flex_col{
        flex-direction: column !important;
    }
    .flex_col1 , .flex_col2 {
        width: 100% !important;
    }
    .padding_left{
        padding-left: 50px;
        padding-top: 60px;
    }
}
.stories__after ::after{
    height: 100%;
    width: 1px;
    background-color: #8AAAD2;
    content: '';
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(50%);
} 
.transorm_translate{
    transform: translate(-50% , -50% );
}
.lenier_g{
    background-image: linear-gradient(to bottom right, #085C99 , #0D99FF);
}

.lllll:hover  .lll{
    display: block;
}

.shadowHigh{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.l:hover ~ .ll{
    display: block;
}



.transition{
    transition: all 0.3s !important;
}


.right_position{
    right: 0 !important;
}

.transition-five-second{
    transition: all 0.5s ease-in-out !important;
}


/* *****************   ANIMATIONS   *************** */



.header__main__heading{
    height: 70px;
    overflow: hidden;
    padding-top: 80px;
}

.herder__img{
    transform: scale(1.25) translateX(50%) translateY(10%);
    filter: brightness(1.3);
    opacity: 0;
}


.landing__on__scroll{
    position: relative;
    top: 100px;
    clip-path: inset(0 0 94% 0) ;
    opacity: 0;
    transition: all 1s;
}


  @keyframes imageAnimation {
            0% {
                transform: scale(0.6) rotate(-180deg);
                opacity: 0;
            }
            100% {
                transform: scale(1) rotate(0deg);
                opacity: 1;
            }
        }

        @keyframes textAnimation {
            0% {
                opacity: 0;
                transform: translateX(200px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .animated-element img {
            animation: imageAnimation 2s;
        }

        .animated-element h2, .animated-element p {
            animation: textAnimation 2s;
        }

/* ***** animation for header text ******* */
        .landing__slide__up{
            animation: landing__slide__up 1s forwards;
        }

        @keyframes landing__slide__up {
            0% {
                height: 70px;
                overflow-x: hidden;
                padding-top: 80px;
                opacity: 0;
                }
                100% {
                height: 70px;
                opacity: 1;
                overflow: hidden;
                padding-top: 0;
            }
        }
        
    /* ***** animation for header img in home page   ******* */
        
        .landing__zoom__out{
            animation: landing__zoom__out 1s forwards ease-in-out;
        }

        @keyframes landing__zoom__out {
            0% {
                transform: scale(1.25) translateX(50%) translateY(10%);
                filter: brightness(1.3);
                opacity: 0;
            }
                
            100% {
                opacity: 1;
                filter: brightness(1);
                transform: scale(1) translateX(0%) translateY(0%);
            }
        }
        
    /* ***** animation for other elements  ******* */
        
        .landing__on__scroll__active{
            position: relative;
            top: 0px;
            clip-path: inset(0 0 0 0);
            opacity: 1;
        }